@font-face {
    font-family: 'stick-a-roundstick-a-round';
    src: url('pintassilgoprints_-_stick-a-round-webfont.woff2') format('woff2'),
         url('pintassilgoprints_-_stick-a-round-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
	font-family: 'Lato', sans-serif;
}

/*
	Main Styles H1, .green etc.
 */

a {
	color: #319b42;
}

h1 {
	font-size: 36px;
	font-family: 'Lato';
	color: #84bd00;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 15px;
}

h3 {
	font-size: 36px;
	font-family: 'Lato';
	color: #272727;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 15px;
}

h4 {
  font-size: 18px;
  font-family: "Lato";
  color: #319b42;
  text-transform: uppercase;
  line-height: 1.667;
}


.green {
	color: #2c9a42;
	font-weight: 400;
}

.white {
	padding: 80px 0;
	background-color: #fff;
}

	.white p {
		font-size: 16px;
		font-family: "Lato";
		color: rgb(158, 158, 158);
		line-height: 1.857;
	}

.center-text {
	text-align: center;
}

.icons-margin {
	margin-bottom: 20px;
}

.breadcrumbs-active {
	color: #000;
	font-size: 22px;
	font-size: 14px;
  	font-family: "Lato";
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}

.breadcrumbs {
	color: #000;
	font-size: 22px;
	font-size: 14px;
  	font-family: "Lato";
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}

.bottom-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
/*
	End Main Styles.
 */

.top-background {
	padding:0;
	background-repeat: no-repeat;
	background-size: cover;
}

.top-white {
	background-color: rgba(255,255,255,0.8);
	padding-top: 10px;
	padding-bottom: 25px;
}

.top-green {
	background-color: #f6f6f6;
}

.home-intro {
	padding: 60px 0;
}



.home-intro p {
	font-size: 15px;
	font-family: "Lato";
	font-weight: 400;
	color: rgb(39, 39, 39);
	line-height: 27px;
}

.home-login {
	background-color: #404140;
	padding: 40px 0;
}

.home-login h1 {
	color: #fff;
	font-size: 36px;
	text-transform: none;
	font-weight: 400;
}

	.home-login h1:before{
		font-family: "FontAwesome";
		font-weight: normal;
		padding-right: 20px;
		display: inline-block;
		content: "\f073";
	}

.home-login p {
    color: #fff;
    line-height: 26px;
    padding-left: 55px;
}

.online-order {
	background-color: #2c9a42;
	width: 100%;
	padding: 5px;
	font-size: 24px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.5;
	border: none;
	box-shadow: 0px 2px 15px -2px #000000;
}

.call-back {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(39, 39, 39);
}

.phone {
	padding-left: 10px;
	padding-right: 10px;
}

.social-links {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(39, 39, 39);
}

.social i {
	padding: 9px;
	margin: 0 3px;
	width: 34px;
	height: 34px;
	font-size: 12px;
	border: 2px solid #000;
}

.top-nav {
	list-style: none;
	padding: 0;
}

	.top-nav li {
		display: inline;
		margin-right: 4px;
	}

	.top-nav li a:active {
		color: rgb(17, 121, 49);
	}

	.top-nav li:nth-last-child(1){
		margin-right: 0 !important;
	}


.top-nav-main {
	list-style: none;
	padding: 0;
    margin-top: 25px;
}

	.top-nav-main li {
		display: inline;
		font-size: 14px;
		margin-right: 12px;
		font-family: "Lato";
		color: rgb(39, 39, 39);
		font-weight: bold;
		text-transform: uppercase;
	}
	


/*
Footer styles
======================================== */

.footer {
	padding:0;
	background-image: url('/images/assets/cactus.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
}

.footer-overlay {
	background: rgba(51,51,51,.9);
	min-height: 516px;
	padding-top: 110px;
}

.footer h3 {
    font-size: 16px;
    color: #fff !important;
    text-transform: uppercase;
    background: url(/images/assets/footer-h3-underline.png) no-repeat bottom left;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

.footer p {
	color: #9e9e9e !important;
	font-size: 14px;
	line-height: 24px;
}

p.address {
	background: url('/images/assets/icon-house.png') no-repeat 0 5px;
	padding-left: 30px;
	color: #fff !important;
}

p.telephone {
	background: url('/images/assets/icon-phone.png') no-repeat 0 5px;
	padding-left: 30px;
	color: #fff !important;
}

p.email {
	background: url('/images/assets/icon-email.png') no-repeat 0 5px;
	padding-left: 30px;
}

p.email a {
	color: #2c9a42 !important;
}

p.email a:hover {
	color: #fff !important;
}

p.hours {
	padding-left: 30px;
	color: #fff !important;
}


.copyright {
	text-align: center;
}

.copyright p {
	margin-top: 15px;
}

.copyright .social-links {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255) !important;
}

.copyright .social i {
	padding: 9px;
	margin: 0 3px;
	width: 34px;
	height: 34px;
	font-size: 12px;
	border: 2px solid #fff;
	color: #fff !important;
}


/*
Form styles
======================================== */

.form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 12px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #6d6d6d;
    background-image: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow:  none;
    box-shadow:  none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-primary {
    color: #fff;
    background-color: #2c9a42;
    border-color: #2c9a42;
    text-align: center;
}

.btn-primary {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    filter: none;
    background-repeat: repeat-x;
    border-color: #2c9a42;
    width: 100%;
    height: auto;
    padding: 12px 12px;
    border-radius: 0;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
	Product Styles
 */

.categories {
	margin-top: 40px;
}

	.categories .col-md-3 {
		min-height: 300px;
	}

/*
	End Product Styles
 */

/*
	Ordering Online
 */

.ordering-bg {
	padding: 50px 0;
	background: url(/images/assets/online-ordering.jpg) 0px;
	background-size: cover;
}

.order-box {
	padding: 20px 30px;
	background: rgba(44,154,66,0.8);
}

	.order-box h2 {
		font-size: 30px;
		font-family: "Lato";
		color: rgb(255, 255, 255);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 22px;
	}

	.order-box h3 {
		font-size: 14px;
		font-family: "Lato";
		color: rgb(51, 51, 51);
		text-transform: uppercase;
		letter-spacing: 4px;
		margin-bottom: 22px;
	}

	.order-box p {
		font-size: 14px;
		font-family: "Lato";
		color: rgb(255, 255, 255);
		line-height: 1.857;
	}

	.order-box button {
		float: right;
		padding: 10px 25px;
		background-color: #333333;
		border: none;
		color: #fff;
		border-bottom: 2px solid #14381a;
	}

		.order-box button i {
			margin-left: 15px;
		}

/*
	End ordering online
 */

/*
	Why Section
 */

.why-reasons {
	padding: 50px 0px;
}
	
	.why-reasons h2 {
		font-size: 18px;
		font-family: "Lato";
		color: rgb(51, 51, 51);
		font-weight: bold;
		text-transform: uppercase;
	}

		.why-reasons h2:before{
			content: '';
			display: inline-block;
			background-image: url(/images/assets/sprout.png);
			width: 38px;
			height: 38px;
			background-repeat: no-repeat;
			margin-right: 10px;
	}

/*
	End Why Section
 */


/*
	Experience Team
 */

.experience-team {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f7f7f7;
}
	.green-social-outer {
		background-color: #2c9a42;
		padding: 20px;
		margin-top: 30px;
	}

	.green-social-inner {
		padding: 20px 30px;
		border: solid 1px #96cda1;
		background-color: #16893b;
		background-image: url(/images/assets/flower-bg.png);
		background-repeat: no-repeat;
		text-align: center;
		background-position: 9px 140px;
		background-size: 95%;
	}

		.green-social-inner h2 {
			font-size: 30px;
			font-family: "Lato";
			color: rgb(51, 51, 51);
			font-weight: bold;
			text-transform: uppercase;
			line-height: 0.8;
			margin-bottom: 30px;
		}

		.green-social-inner p {
			font-size: 14px;
			font-family: "Lato";
			color: rgb(255, 255, 255);
			line-height: 1.857;
		}

	.green-social-inner button {
		padding: 10px 25px;
		background-color: #333333;
		border: none;
		color: #fff;
		border-bottom: 2px solid #14381a;
	}

		.green-social-inner button i {
			margin-left: 15px;
		}

		.green-social {
			margin: 30px 0;
		}

		.green-social-inner .whitesocial i {
			border: 1px solid #fff;
		}

	.gardener {
		width: 510px;
		margin-top: 30px;
		margin-left: 130px;
	}

/*
	End Expeience Team
 */


/*
	Testimonials
 */

	.testimonials {

	}

		.testimonials p {
			font-size: 18px;
			font-family: "Lato";
			color: rgb(51, 51, 51);
			line-height: 2.571;
		}

/*
	End Testimonials
 */

/*
	News
 */

	.news {
		margin-top: 70px;
	}

	.news-items {
		padding-top: 40px;
	}

	.news-item-header {
		padding: 20px 20px;
		height: 240px;
	}

		.news-item-cat {
			background: #2c9a42;
			color: #fff;
			padding: 5px;
			margin-top: 5px;
		}

	.news-item-body {
		padding: 20px 0;
	}

		.news-item-body h5 {
			font-size: 16px;
			font-family: "Lato";
			color: rgb(44, 154, 66);
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

	.news-item-date {
		font-size: 10px;
		font-family: "Lato";
		color: rgb(167, 167, 167);
		text-transform: uppercase;
	}

	.news-item-text {
		font-size: 14px;
		font-family: "Lato";
		color: rgb(158, 158, 158);
		line-height: 1.857;
	}


/*
	End News
 */

/*
	Contact Us Page
 */

.contact-header {
	background:  url(/images/assets/contact-banner.jpg) no-repeat 0px;
	padding: 0;
	background-size: contain;
}

	.contact-overlay {background-color: #e8e8e8;}

.contact-header-text {
	padding-top: 40px;
	text-align: center;
}

.contact {
	background: #006633;
	padding: 35px;
	text-align: center;
	position: relative;
	top: 50px;
}

	.contact h1 {
		font-size: 15px;
		font-family: "Lato";
		color: rgb(255, 255, 255);
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		margin: 0;
	}

.gmaps {
	margin-top: 100px;
}

.contact-icon {
	background: #262626;
	border: 10px solid #000;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	text-align: center;
	color: #fff;
	font-weight: normal;
}

	.contact-icon .fa {
		position: relative;
		top: 35px;
	}

.contact-form {
	padding: 60px 0;
}

.contact-elements {
	text-align: center;
}

	.contact-elements h2 {
		font-size: 18px;
		font-family: "Lato";
		color: rgb(147, 180, 3);
		font-weight: bold;
		line-height: 1.056;
	}

	.contact-elements p {
		font-size: 14px;
		font-family: "Lato";
		color: #8d8d8d;
		line-height: 1.714;
		text-align: center;
	}

.contact-form label {
	display: inline;
	font-size: 16px;
	font-family: "Lato";
	color: #505050;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.contact-form input {
	width: 100%;
	border: 1px solid #bfbfbf;
	margin: 10px 0;
	padding: 10px 20px;
}

.contact-form textarea {
	width: 100%;
	height: 200px;
	margin: 10px 0;
	border: 1px solid #bfbfbf;
}

.form {
	margin-top: 50px;
}

	.form button {
		background: #93b403;
		padding: 10px;
		border: none;
		font-size: 15px;
		font-family: "Lato";
		color: rgb(255, 255, 255);
		text-transform: uppercase;
	}

		.form button i {
			margin-left: 20px;
		}

/*
	Product Page
 */

.product {
	padding-top: 100px;
	padding-bottom: 50px;
}

.product-info {

}

	.product-info h1 {
		font-size: 30px;
		font-family: "Lato";
		color: rgb(17, 121, 49);
		font-weight: normal;
		margin-bottom: 2px;
	}

.product_code, .product_ava, .product_unit {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(39, 39, 39);
  margin-bottom: 0;
}

.product_code span {
  font-weight: bold;
}

.product_ava span {
  font-weight: bold;
}

.product_unit span {
  font-weight: bold;
}

.product_desc {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(39, 39, 39);
  margin-top: 10px;
}

	.product-info select {
		width: 100%;
		padding: 10px;
		border: 1px solid #d6e2ea;
	}

.product-select {
	margin-bottom: 20px;
}

	.product-select input {
		width: 40px !important;		
		padding: 10px;
		text-align: center;
		border: 1px solid #d6e2ea !important;
		margin-right: 20px;
	}

.call-back a {
	color: #000;
}

	.call-back a:hover {
		text-decoration: none;
	}

.search input {
	width: 70%;
	border: 1px solid #d6e2ea;
	border-right: none;
	padding: 10px 10px;
}

	.search .fa {
		padding: 13px;
		border: 1px solid #d6e2ea;
		border-left: none;
		margin-top: 0px;
		position: relative;
		top: 0px;
	}

	.search select {
		width: 100%;
		padding: 10px 10px;
		border: 1px solid #d6e2ea;
	}

.left-menu ul {
	list-style: none;
	padding: 0;
}

	.left-menu li {
		margin-top: 20px;
		font-size: 14.528px;
		font-family: "Lato";
		color: rgb(38, 38, 38);
	}

	.left-menu li a {
		color: rgb(38, 38, 38); 
	}

	.left-menu li a:hover {
		text-decoration: none;
	}

	.left-menu img {
		margin-right: 20px;
	}

.product-data {
	padding: 50px 0;
}

.product-info button {
	background: #93b403;
	padding: 10px 30px;
	font-size: 16px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	border: none;
	text-transform: uppercase;
}

.product-list h1 {
	font-size: 15px;
	font-family: "Lato";
	color: rgb(17, 121, 49);
	font-weight: normal;
	margin-bottom: 2px;
}

.product-list-data {
	max-height: 354px;
	text-align: center;
	margin-bottom: 30px;
}

	.product-list-data button {
		width: 100%;
		padding: 10px 30px;
		color: #fff;
		background: #93b403;
		text-transform: uppercase;
		font-size: 16px;
		font-family: "Lato";
		border: none;
	}

/*
	Cart
 */

.cart {
	padding: 100px 0;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
    text-align: center;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

.categories {
	padding: 30px 0;
}

.cart-form {
	display: inline;
}

/*
	Register / Login
 */

.register-login {
	padding: 100px 0;
}

	.register-login .form-box {
		padding: 30px;
		background-color: #9c9696;
	}

	.register-login button {
		background-color: #117931;
		color: #fff;
		font-weight: normal;
		padding: 5px 20px;
		text-transform: uppercase;
	}

/*
	Testimonials Page
 */

.testimonials {
	padding: 80px 0;
}

	.testimonials h2 {
		font-size: 30px;
		font-family: "Lato";
		color: rgb(17, 121, 49);
		font-weight: normal;
		margin-bottom: 2px;
	}

	.testimonials p {
		line-height: 29px;
		font-style: italic;
	}

	.testimonials h3 {
		font-size: 13px;
		font-family: "Lato";
		color: rgb(17, 121, 49);
		font-weight: normal;
		margin-bottom: 2px;
		text-transform: none;
	}

.product-list-data img {
	margin: 0 auto;
	max-height: 200px;
}

table#miyazaki { 
  border-collapse: collapse;
  font-family: "Lato";
  font-weight: 100;
  width: 100%;
  margin: 20px 0;
  background: #117931; color: #fff;
  text-rendering: optimizeLegibility;
  border-radius: 5px; 
}
table#miyazaki caption { 
  color: #117931;
  font-size: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left, center right; 
}
table#miyazaki thead th { font-weight: 600; }
table#miyazaki thead th, table#miyazaki tbody td { 
  padding: .8rem; font-size: 1.4rem;
}
table#miyazaki tbody td { 
  padding: .8rem; font-size: 1.4rem;
  color: #444; background: #eee; 
}
table#miyazaki tbody tr:not(:last-child) { 
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;  
}

@media screen and (max-width: 600px) {
  table#miyazaki caption { background-image: none; }
  table#miyazaki thead { display: none; }
  table#miyazaki tbody td { 
    display: block; padding: .6rem; 
  }
  table#miyazaki tbody tr td:first-child { 
    background: #666; color: #fff; 
  }
	table#miyazaki tbody td:before { 
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
    width: 6rem;  
  }
}

.product-image {
   min-height: 200px;
   max-height: 200px;
}

.product-list-data img {
   margin: 0 auto;
   max-height: 190px;
}

.product-list h1 {
   font-size: 15px;
   font-family: "Lato";
   color: rgb(17, 121, 49);
   font-weight: normal;
   margin-bottom: 2px;
   min-height: 38px;
}

/*
	Blog
 */

.blog {
	padding: 100px 0;
}

.blog-posts {
	margin-bottom: 40px;
}

	.blog img {
		margin-bottom: 10px;
	}

.blog .post-single {
	margin-bottom: 30px;
}

.searchbox button {
	background: none;
	position: relative;
	left: -6px;
	top: -1px;
	height: 72px;
	border: none;
}

/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  text-align: center; }
  #nav-trigger span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #319b42;
    color: white;
    cursor: pointer;
    text-transform: uppercase; }
    #nav-trigger span:after {
      display: inline-block;
      margin-left: 10px;
      width: 20px;
      height: 10px;
      content: "";
      border-left: solid 10px transparent;
      border-top: solid 10px #fff;
      border-right: solid 10px transparent; }
    #nav-trigger span:hover {
      background-color: #319b42; }
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }

nav {
  /* margin-bottom: 30px; */
  }

nav#nav-main {
  /* background-color: #ff0032; */
  /* padding: 10px 0; */
  }
  nav#nav-main ul {
    /* list-style-type: none; */
    /* margin: 0; */
    /* padding: 0; */
    /* text-align: center; */
    }
  nav#nav-main li {
    display: inline-block;
    /* border-right: solid 1px #cc0028; */
    /* padding: 0 5px; */
    }
    nav#nav-main li:last-child {
      border-right: none; }
  nav#nav-main a {
    display: block;
    color: #319b42;
    /* padding: 10px 30px; */
    }
    nav#nav-main a:hover {
      color: #319b42; }

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #319b42;
    z-index: 1;
    }
  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #fff; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-mobile a:hover {
      background-color: #319b42;
      color: #fff; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    margin-top: 30px;
    display: block;
    }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  	h1 {
  		font-size: 30px;
  	}

  	.online-order {
  		margin-top: 10px;
  		margin-bottom: 30px;
  	}

  	.home-login p {
  		padding: 0;
  	}

  	.no-padding {
  		padding: 0 !important;
  	}

  	.order-box button {
  		width: 100%
  	}

  	.gardener {
		margin-top: 30px !important;
		margin-left: 30px !important;
  	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

blockquote {
  background: rgba(191, 191, 191, 0.2);
  border-left: 10px solid #063;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  min-height: 200px;
}
blockquote:before {
  color: #063;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.cart-description {
	font-size: 12px;
}

	.cart-description p {
		margin-bottom: 2px;
	}

#slideout {
    position: fixed;
    z-index: 1;
    top: 400px;
    margin-top: 0px;
    left: 0;
    height: 145px;
    width: 46px;
    padding: 12px 0;
    text-align: center;
    background: #006633;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
#slideout_inner {
    position: fixed;
    top: 400px;
    left: -250px;
    background: #006633;
    width: 250px;
    padding: 25px;
    height: 235px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}
#slideout_inner textarea {
    width: 190px;
    height: 100px;
    margin-bottom: 6px;
}
#slideout:hover {
    left: 250px;
}
#slideout:hover #slideout_inner {
    left: 0;
}

#slideout p {
	font-size: 22px;
	/* Safari */
	color: #fff;
	height: 55px;
	margin: 35px -13px;
	width: 90px;
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#slideout_inner .col-md-12 {
	margin-bottom: 5px;
}

.no-padding {
	padding-right: 0px;
	padding-left: 0px;
}

#slideout_inner button {
	width: 100%;
	padding: 10px 0;
	background-color: #93b403;
	border: 1px solid #637513;
	color: #fff;
	font-size: 20px;
}

.recently-viewed {
	padding: 20px 0;
}

.recently-viewed h2 {
	font-size: 30px;
	font-family: "Lato";
	color: rgb(17, 121, 49);
	font-weight: normal;
	margin-bottom: 2px;
}

.comparison button {
	width: 100%;
    font-size: 15px;
    padding: 11px 0px;
    background-color: #006633;
}

.checkout-account h1, .comparison h1 {
	font-size: 30px;
	font-family: "Lato";
	color: rgb(17, 121, 49);
	font-weight: normal;
	margin-bottom: 12px;
}

.paypal, .account {
    background-color: #005EA6;
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    margin-right: 20px;
}

.account {
	background-color: #006633 !important;
}

.comparison-head-image {
	text-align: center;
}

.comparison-head-image img {
	margin: 0 auto;
}

.comparison-head-image h2 {
	font-size: 25px;
	margin-bottom: 10px;
	margin-top: 0;
	color: #006633;
}

.comparisons {
    padding: 0 10px;
    border: 1px solid #ececec;
}

.comparison-body-text, .comparison-stock, .comparison-tray, .comparison-state {
	margin-bottom: 10px;
}

.comparison-body-text span, .comparison-stock span, .comparison-tray span, .comparison-state span {
	color: #006633;
	font-weight: bold;
	display: inline-block;
}

.comparisons button {
	background: #93b403;
	padding: 10px 30px;
	font-size: 16px;
	font-family: "Lato";
	width: 100%;
	margin-bottom: 20px;
	color: rgb(255, 255, 255);
	border: none;
	text-transform: uppercase;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
.exp_image {/* min-height: 647px !important; */}
}

.product-info h1 {
   min-height: 40px;
}

.header-search-input {
    padding: 3px 8px;
    width: 150px;
}

.header-search {
	background-color: green;
	color: #fff;
	border: none;
	padding: 5px 8px;
}

.top-form {
	display: inline-block !important;
}

.terms {
	padding: 60px 0;
}

.terms li {
	margin-bottom: 15px;
}

.breadcrumb-left, .breadcrumb-right {
	/* padding: 50px; */
}

.breadcrumb-left h2 {
	font-family: 'stick-a-roundstick-a-round';
	font-size: 24px;
	text-align: center;
	line-height: 32px;
	text-transform: uppercase;
	color: #008000;
}

.breadcrumb-right h2 {
	font-family: 'stick-a-roundstick-a-round';
	font-size: 23px;
	text-align: center;
	line-height: 32px;
	text-transform: uppercase;
	color: #008000;
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.contact {
	top: 0px !important;
}

.product-info button {
	width: 100% !important;
}

.top-nav li {
	display: inherit;
	margin-bottom: 10px !important;
	margin-left: 0px;
	margin-right: 40px;
	margin-top: 10px;
}

}

.col-centered {
	margin: 0 auto;
}

.exp_image {
	background: url(/images/assets/jfh_experienced.jpg);
	/* background-size: cover; */
	margin-top: 30px;
	height: 587px;
	/* min-height: 640px; */
}

.windows-image {
	height: 562px !important;
}

.blog-featured-image {
	width: 70%;
}

.blog-date-posted {
	font-size: 24px;
	font-weight: 600;
}

.blog-article {
	width: 70%;
}

.blog-full {
	background: #fbfbfb;
    padding: 25px;
    margin-bottom: 50px;
}

select#opc_dropdown {
    display: block;
    margin-top: 15px;
}

input#opc_input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.error-404 {
	margin-top: 60px;
}

	.error-404 h1 {
		font-size: 240px;
		text-align: center;
	}

.links-404 ul {
	list-style: none;
	padding-left: 0px;
}

	.links-404 li {
		color: #319b42;
		font-size: 14px;
		font-family: "Lato";
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 8px;
	}

	.links-404 li a:hover {
		color: #319b42;
	}

textarea { 
	width: 100%;
    padding: 10px 10px;
    border: 1px solid #d6e2ea;
}